
@{
    ViewData["Title"] = "Profile";
}

    <div class="tab-content p-b-3">
        <div class="tab-pane active" id="profile">
            <h4 class="m-y-2">User Profile</h4>
        </div>
        <ul class="list-group">
            <li class="list-group-item">Login: @ViewBag.Login</li>
            <li class="list-group-item">Name: @ViewBag.Name</li>
            <li class="list-group-item">Email: @ViewBag.Email</li>
            <li class="list-group-item">City: @ViewBag.City</li>
        </ul>

    </div>
