@model WebApplication7.ViewModels.LoginViewModel

    <h2>Enter the site</h2>

<a asp-action="Register" asp-controller="Account" >Registration</a>

<form asp-action="Login" asp-controller="Account" asp-anti-forgery="true">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>   
        <div>
            <div class="form-group">
                <label asp-for="Login">Input login</label>
                <input type="text" asp-for="Login" class="form-control col-2" placeholder="Input login" />
                <span asp-validation-for="Login" class="text-danger" />
            </div>
            <div class="form-group">
                <label asp-for="Password">Input password</label>
                <input asp-for="Password" class="form-control col-2" placeholder="Input password" />
                <span asp-validation-for="Password" class="text-danger" />
            </div>
            <div class="form-group">
                <input type="submit" value="Enter" class="btn btn-outline-primary" />
            </div>
        </div>
</form>

