@model WebApplication7.Models.Product
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@Html.EditorForModel()

<h4>Product</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <input asp-for="Id" readonly class="form-control" />
                    <span asp-validation-for="Id" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input asp-for="ImageData" type="file" readonly class="form-control" />
                    <span asp-validation-for="ImageData" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input asp-for="ImageMimeType" readonly class="form-control" />
                    <span asp-validation-for="ImageMimeType" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Price" class="control-label"></label>
                    <input asp-for="Price" class="form-control" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Category" class="control-label"></label>
                    <select asp-for="Category" asp-items="ViewBag.Categories" class="form-control"></select>
                    <span asp-validation-for="Category" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="NameSezone" class="control-label"></label>
                    <select asp-for="NameSezone" asp-items="ViewBag.Sezones" class="form-control"></select>
                    <span asp-validation-for="NameSezone" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="NameBrand" class="control-label"></label>
                    <select asp-for="NameBrand" asp-items="ViewBag.Brands" class="form-control"></select>
                    <span asp-validation-for="NameBrand" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="NameColore" class="control-label"></label>
                    <select asp-for="NameColore" asp-items="ViewBag.Colores" class="form-control"></select>
                    <span asp-validation-for="NameColore" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="NameMaterial" class="control-label"></label>
                    <select asp-for="NameMaterial" asp-items=" ViewBag.Materials" class="form-control"></select>
                    <span asp-validation-for="NameMaterial" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" type="text" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    @if (Model.ImageData == null)
                    {
                        @:None
                    }
                    else
                    {
                        <img width="150" height="150" src="data:@(Model.ImageData);base64,@(Convert.ToBase64String(Model.ImageData))" />
                    }
                    <input type="file" name="image" />
                    <span asp-validation-for="ImageData" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-outline-info btn-sm pull-right" />
                </div>
            </form>
        </div>
    </div>

<div>
    <a asp-action="Index" asp-controller="Admin">Back to List</a>
</div>

