@{
    Layout = "~/Views/Shared/_AdminLayout1.cshtml";
}
@{
    ViewData["Title"] = "Admin: Role";
}
@model IQueryable<WebApplication7.Models.Role>
<section class="content">
    <div class="row mr-0">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Role Table</h3>
                </div>
                <div class="card-header"> <a asp-action="Export" asp-controller="Admin" asp-route-tb="Role">Export in xml</a></div>
                <!-- /.card-header -->
                <div class="card-body">
                    <table id="example2" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Role</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.Id</td>
                                    <td>@item.RoleName</td>
                                </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>Id</th>
                                <th>Role</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->


        </div>
        <!-- /.card -->
    </div>
    <!-- /.row -->
</section>

